<form {{action "save" on="submit"}}>
        <h4>{{errorMessage}}</h4>
        <p>
                <label>Name:
                        {{input value=model.name}}
                </label>
        </p>
          {{input type="text" value=model.color_indexes size="50"}}
          {{input type="text" value=model.colors size="50"}}
        <input type="submit" value="Save"/>
        <button {{action "cancel"}}>Cancel</button>
</form>

name: {{model.name}}
