<h2>Color Maps</h2>

{{#each colormap in model}}
<ul>
  <p>
  {{input type="text" value=colormap.name size="50"}}
  {{input type="text" value=colormap.color_indexes size="50"}}
  {{input type="text" value=colormap.colors size="50"}}
  </p>

  <li>{{colormap.name}}</li>
  <li>{{colormap.color_indexes}}</li>
  <li>{{colormap.colors}}</li>
  <li>{{colormap.color_count}}</li>
  <li>
    <div {{bind-attr style=colormap.gradient_css}}></div>
  </li>

</ul>
{{/each}}

